<a href="https://colab.research.google.com/github/acti12/2025_AlgoritmaDanPemrogaman_Pertemuan4/blob/main/Praktikum_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum 1 - Tuple: Data Tetap

In [1]:
koordinat = (7.05, 110.44)

print("Lintang:", koordinat[0])
print("Bujur:", koordinat[1])

Lintang: 7.05
Bujur: 110.44

# Praktikum 2 - Dictionary Dasar

In [2]:
mahasiswa = {
    "NIM" : "20251001",
    "Nama" : "Andi",
    "Prodi" : "TRK"
}

print("NIM: ", mahasiswa["NIM"])
print("Nama: ", mahasiswa["Nama"])
print("Prodi: ", mahasiswa["Prodi"])

NIM:  20251001
Nama:  Andi
Prodi:  TRK

# Praktikum 3 - Operasi Dictionary

In [3]:
mahasiswa = {
    "NIM" : "20251001",
    "Nama" : "Andi",
    "Prodi" : "TRK"
}
mahasiswa["umur"] = 19
mahasiswa["Prodi"] = "Teknik Komputer"
del mahasiswa["umur"]

print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

# Praktikum 4 - Set dan Operasi Himpunan

In [4]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

# Praktikum 5 - Studi Kasus Mata Kuliah

In [5]:
mhs1 = {"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2 = {"Algoritma", "Basis Data", "Matematika"}

print("Mata kuliah mahasiswa 1 adalah: ", mhs1)
print("Mata kuliah mahasiswa 2 adalah: ", mhs2)
print("Mata kuliah mahasiswa 1 dan 2 adalah: ", mhs1 & mhs2)

Mata kuliah mahasiswa 1 adalah:  {'Bahasa Inggris', 'Algoritma', 'Matematika'}
Mata kuliah mahasiswa 2 adalah:  {'Algoritma', 'Basis Data', 'Matematika'}
Mata kuliah mahasiswa 1 dan 2 adalah:  {'Algoritma', 'Matematika'}

# Praktikum 6 - Studi Kasus Dictionary: Daftar Nilai

In [6]:
nilai_mahasiswa = {
    "Andi" : 80,
    "Budi" : 75,
    "Cici" : 90,
}

for nama, nilai in nilai_mahasiswa.items():
  print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai {len(nilai_mahasiswa)} Mahasiswa tersebut adalah: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai 3 Mahasiswa tersebut adalah: 81.67

# Penugasan 1 - Tuple Sederhana

In [7]:
mahasiswa = ("Rafael", 19, "TRK")

print(f"Nama:", mahasiswa[0])
print(f"Umur:", mahasiswa[1])
print(f"Prodi:", mahasiswa[2])

Nama: Rafael
Umur: 19
Prodi: TRK

# Penugasan 2 - Tuple Tidak Bisa Diubah

In [8]:
nilai = (1, 2, 3)

nilai[1] = 5

print(nilai)

TypeError: 'tuple' object does not support item assignment

# Penugasan 3 - Dictionary Dasar

In [9]:
data_buku = {
    "Judul" : "Algoritma",
    "Penulis" : "Munir",
    "Tahun" : 2021
}

print("Judul:", data_buku["Judul"])
print("Penulis:", data_buku["Penulis"])
print("Tahun:", data_buku["Tahun"])

Judul: Algoritma
Penulis: Munir
Tahun: 2021

# Penugasan 4 - Operasi Dictionary

In [10]:
data_dosen = {
    "NIP" : 1234,
    "Nama" : "Budi",
    "Prodi" : "TRK"
}

data_dosen["Umur"] = 40
data_dosen["Prodi"] = "Teknik Komputer"
del data_dosen["Umur"]

print(data_dosen)

{'NIP': 1234, 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

# Penugasan 5 - Set dan Himpunan

In [11]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}

print("Union", A | B)
print("Intersection", A & B)
print("Difference", A - B)

Union {'Bahasa Inggris', 'Algoritma', 'Basis Data', 'Matematika'}
Intersection {'Algoritma', 'Matematika'}
Difference {'Bahasa Inggris'}

# Penugasan 6 - Studi Kasus Dictionary

In [12]:
data = {"Andi": 85, "Budi": 90, "Cici": 78}


for nama, nilai in data.items():
  print(f"{nama}: {nilai}")

rata = sum(data.values()) / len(data)
print(f"Rata-rata nilai {len(data)} Mahasiswa tersebut adalah: {rata:.2f}")

Andi: 85
Budi: 90
Cici: 78
Rata-rata nilai 3 Mahasiswa tersebut adalah: 84.33

# Penugasan 7 - Studi Kasus Set - Klub Mahasiswa

In [14]:
Klub_a = {"Andi", "Budi", "Cici"}
klub_b = {"Cici", "Deni", "Eka"}

print("Seluruh orang yang termasuk kedalam klub mahasiswa adalah:", Klub_a | klub_b)
print("Seluruh orang yang termasuk kedalam kedua klub mahasiswa adalah:", Klub_a & klub_b)
print("Orang-orang yang ada di klub a namun tidak ada di klub b adalah:", Klub_a - klub_b)

Seluruh orang yang termasuk kedalam klub mahasiswa adalah: {'Eka', 'Cici', 'Andi', 'Deni', 'Budi'}
Seluruh orang yang termasuk kedalam kedua klub mahasiswa adalah: {'Cici'}
Orang-orang yang ada di klub a namun tidak ada di klub b adalah: {'Budi', 'Andi'}