<a href="https://colab.research.google.com/github/acti12/2025_AlgoritmaDanPemrogaman_Pertemuan4/blob/main/Praktikum_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum 1 - Membuat dan Mengakses List ID

In [ ]:
mahasiswa = ["Andi", "Budi", "Cici"]
print(mahasiswa[0])
print(mahasiswa[1])
print(mahasiswa[-1])

Andi
Budi
Cici

# Praktikum 2 - Update dan Operasi Dasar List

In [ ]:
nilai = [85, 90, 78]
nilai[1] = 95
nilai.append(100)
nilai.remove(78)
print(nilai)

[85, 95, 100]

# Praktikum 3 - Slicing List

In [ ]:
nilai = [85, 90, 78, 92, 88]
print(nilai[0:3])
print(nilai[2:])
print(nilai[:3])

[85, 90, 78]
[78, 92, 88]
[85, 90, 78]

# Praktikum 4 - List 2D

In [ ]:
matriks = [
           [1, 2, 3],
           [4, 5, 6],
           [7, 8, 9]
]

print(matriks[0][0])
print(matriks[1][2])
print(matriks[2])

1
6
[7, 8, 9]

# Praktikum 5 - Operasi pada List 2D

In [ ]:
A = [[1, 2, 3], [4, 5, 6]]
B = [[7, 8, 9], [10, 11, 12]]
C = []

for i in range(len(A)):
  baris = []
  for j in range(len(A[0])):
    baris.append(A[i][j] + B[i][j])
  C.append(baris)

print(C)

[[8, 10, 12], [14, 16, 18]]

# Praktikum 6 - Studi Kasis : Pengelolaan Nilai Mahasiswa

In [ ]:
nilai = [
    [80, 90, 85],
    [70, 75, 80],
    [88, 92, 84]
]

for i, baris in enumerate(nilai, start=1) :
  rata = sum(baris) / len(baris)
  print(f"Rata - rata mahasiswa {i}: {rata:.2f}")

Rata - rata mahasiswa 1: 85.00
Rata - rata mahasiswa 2: 75.00
Rata - rata mahasiswa 3: 88.00

# Penugasan 1 - Akses Elemen List

In [ ]:
nama = ["Rafael", "Rizky", "Ahmad", "Arda", "Abed"]

print(nama[0]) #Nama pertama
print(nama[-1]) #Nama Terakhir
print(nama[1]) #Nama Kedua

Rafael
Abed
Rizky

# Penugasan 2 - Operasi Dasar List

In [ ]:
nilai = [70, 75, 80]

nilai[1] = 85
nilai.append(90)
nilai.remove(70)
print(nilai)

[85, 80, 90]

# Penugasan 3 - Slicing List

In [ ]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(list[:3])
print(list[-4:])

genap = [i for i in list if i % 2 == 0]
print(genap)

[1, 2, 3]
[7, 8, 9, 10]
[2, 4, 6, 8, 10]

# Penugasan 4 - List 2D - Matriks

In [ ]:
angka = [
    [1, 2, 3],
    [4, 5, 6]
]

print(angka[0] [1])
print(angka[1] [2])
print(angka[0] [:3])

2
6
[1, 2, 3]

# Penugasan 5 - Operasi Matriks 2D

In [ ]:
matriks_a = [[2, 3, 4], [5, 6, 7]]
matriks_b = [[8, 9, 10], [11, 12, 13]]
matriks_c = []

for i in range(len(matriks_a)):
  baris = []
  for j in range (len(matriks_a[0])):
    baris.append(matriks_a[i][j] + matriks_b[i][j])
  matriks_c.append(baris)

print(matriks_c)

[[10, 12, 14], [16, 18, 20]]

# Penugasan 6 - Rata - Rata Nilai Mahasiswa

In [ ]:
nilai = [
    [75, 80, 85],
    [60, 70, 65],
    [90, 95, 92]
]

for i, baris in enumerate (nilai, start=1):
  rata = sum(baris) / len(baris)
  print(f"Rata-rata nilai mahasiswa {i} adalah {rata:.2f}")

Rata-rata nilai mahasiswa 1 adalah 80.00
Rata-rata nilai mahasiswa 2 adalah 65.00
Rata-rata nilai mahasiswa 3 adalah 92.33

# Penugasan 7 - Studi Kasus - Data Toko

In [ ]:
stok = [["Buku", 20], ["Pulpen", 35], ["Penghapus", 15]]

for baris in stok:
  nama_barang = baris[0]
  jumlah_stok = baris[1]
  print(f"Nama barang: {nama_barang}, Jumlah stok: {jumlah_stok}")

Nama barang: Buku, Jumlah stok: 20
Nama barang: Pulpen, Jumlah stok: 35
Nama barang: Penghapus, Jumlah stok: 15